# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment files
.env

# macOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# NLTK downloaded data (optional)
nltk_data/

# Uploaded resumes (optional)
backend/resumes/